<!-- Show the already created habits -->
<div class="container">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Color Column -->
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef>Farbe</th>
        <td mat-cell *matCellDef="let element">
          <div [style]="'background-color:' + element.color?.primary+ ' ;'" class="color-circle"></div>
        </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Titel</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Beschreibung</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <!-- Time Column -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef>Zeiten</th>
        <td mat-cell *matCellDef="let element">
          <div class="times-display">
            <div
              class="timespan-bar"
              [style]="
                'width:' +
                calcTimespan(element) +
                '%; margin-left:' +
                calcTimespanOffset(element) +
                '%;'
              "
            >
              <div
                class="time-bar"
                [style]="
                  'width:' +
                  calcTime(element) +
                  '%; margin-left:' +
                  calcTimeOffset(element) +
                  '%;'
                "
              >
                <div class="timestart-bar">
                  <div class="timestart-text">
                    {{ getIdealTime(element) | date: "HH:mm" }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- Repeat Column -->
      <ng-container matColumnDef="repeat">
        <th mat-header-cell *matHeaderCellDef>Tage</th>
        <td mat-cell *matCellDef="let element">
          <div class="day-list app-border">
            <span
              *ngFor="let day of days"
              [class.active-day]="
                element.repeat.days.includes(day.index) &&
                !isCurrentDay(element, day.index)
              "
              [class.app-disabled]="isCurrentDay(element, day.index)"
              class="app-hover none-selectable"
              (click)="toggleDay(element, day.index)"
            >
              {{ day.name.substring(0, 2) }}
            </span>
          </div>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Aktionen</th>
        <td mat-cell *matCellDef="let element">
          <!-- Edit -->
          <button mat-icon-button (click)="selectedHabit.emit(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
