# Project exclude paths
.idea
.vagrant
*.iml
resourcePlanner_webapp/src/main/resourcePlanner/node_modules
resourcePlanner_webapp/src/main/resourcePlanner/node
resourcePlanner_webapp/src/main/resourcePlanner/.angular
/tmp
/logs
config.yaml
resourcePlanner.jar
**/target
