# Project exclude paths
/resourcePlanner_application/target/
/resourcePlanner_logic/target/
/resourcePlanner_modell/target/
/resourcePlanner_webapp/target/
/resourcePlanner_rest/target/
.idea/
/resourcePlanner.iml
/resourcePlanner_webapp.iml
/resourcePlanner_backend/target/
