# Project exclude paths
.idea
.vagrant
*.iml
resourcePlanner_webapp/src/main/node_modules
resourcePlanner_webapp/src/main/node
resourcePlanner_webapp/src/main/.angular


/tmp
/logs
config.yaml
resourcePlanner.jar
**/target
