<table mat-table [dataSource]="employees">

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> Vorname </th>
    <td mat-cell *matCellDef="let employee"> {{employee.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Nachname </th>
    <td mat-cell *matCellDef="let employee"> {{employee.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="kostenstelle">
    <th mat-header-cell *matHeaderCellDef> Kostenstelle </th>
    <td mat-cell *matCellDef="let employee"> {{employee.kostenstelle}} </td>
  </ng-container>

  <ng-container matColumnDef="employment">
    <th mat-header-cell *matHeaderCellDef> Anstellung </th>
    <td mat-cell *matCellDef="let employee"> {{employee.employment}} </td>
  </ng-container>

  <ng-container matColumnDef="department">
    <th mat-header-cell *matHeaderCellDef> Abteilung </th>
    <td mat-cell *matCellDef="let employee"> {{employee.department}} </td>
  </ng-container>

  <ng-container matColumnDef="team">
    <th mat-header-cell *matHeaderCellDef> Team </th>
    <td mat-cell *matCellDef="let employee"> {{employee.team}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
