h1.mat-dialog-title {
  display: flex;
}

table mat-form-field {
  width: 100%;
}

mat-expansion-panel {
  margin-bottom: 16px;
}

.color-selector {
  width: 33% !important;
}

.color-selector .mat-form-field-infix {
  text-align: center;
  padding: 10px !important;
  border-top: 5px solid transparent;

  & * {
    width: 100%;
  }
}

::ng-deep.mat-tab-body {
  padding: 8px;
}

::ng-deep.mat-tab-body-content {
  overflow-y: hidden !important;
}